/* Header - Navigation */
.logo {
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
}

.logo-wrapper {
  cursor: pointer;
}

.navbar {
  justify-content: space-between;
}

.navbar > a {
  text-decoration: none;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;

  button {
    margin-left: 1rem;
  }
}

.theme-toggle {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1.25rem;
}

header {
  padding: 0.8rem;
}

header div {
  display: flex;
  justify-content: center;
}
header div img {
  width: 50px;
  height: auto;
}
header div img:hover {
  animation: shake 0.6s linear infinite;
}

@keyframes shake {
  0% {
    transform: rotate(13deg);
  }
  15% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-13deg);
  }
  35% {
    transform: rotate(13deg);
  }
  45% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-13deg);
  }
  65% {
    transform: rotate(13deg);
  }
  75% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-13deg);
  }
}

header nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin-left: 1.25rem;
}

header nav ul li a {
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 150ms ease-in;
  color: var(--text-light);
}

.theme-toggle {
  transition: color 0.2s ease-in;
}

.theme-toggle:hover {
  color: var(--primary);
}

header nav ul li a:hover {
  color: var(--primary);
}
