/* Website Width */
.container {
  max-width: 1366px;
  margin: 0 auto;
}

/* Theme needs refactoring to dedicated Theme.css file */
.light {
  height: 100%;
  background-color: var(--bg-light);
  color: var(--text-dark);
  transition: ease-in 0.5s;
}

.light header {
  background-color: var(--bg-white); /* lighter shade for light mode */
  /*i really wanted to use the linear gradient but smooth transition will not work*/
  /* background: linear-gradient(180deg,rgba(250, 250, 250, 1) 0%, rgba(230, 227, 227, 1) 50%, rgba(212, 210, 210, 1) 100%); */
  transition: ease-in 0.5s;
}

.light header nav ul li a {
  color: var(--text-dark);
}

/* LOGO TEXT LIGHTMODE */
.light .navbar > a {
  color: black;
}

.light header nav ul li a:hover {
  color: var(--primary);
}

.dark {
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--text-light);
  transition: ease-in 0.8s;
}

.dark header {
  background-color: var(--bg-dark-2);
  /*i really wanted to use the linear gradient but smooth transition will not work*/
  /* background: linear-gradient(180deg,rgba(38, 38, 38, 1) 1%, rgba(33, 33, 33, 1) 50%, rgba(33, 32, 32, 1) 98%, rgba(33, 32, 32, 1) 100%); */
  transition: ease-in 0.8s;
}
